.footer{
    background-color:hsl(207, 100%, 27%);
    
}

.footer-title{
    display: flex;
}

.footer-title h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color:hsl(0, 0%, 100%);
    margin-left: 35rem;
    text-align: center;
}
.footer-names ul{
    display: flex;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
    background-color:hsl(207, 100%, 27%);
    margin:auto;
    text-align: center;
    padding: 1% 5% ;
    width: 90%;
}

.footer-names ul li:not(:last-child)::after{
    content: "|";
    padding-left: 4rem;
    color: hsl(0, 0%, 67%);
    background-color:hsl(207, 100%, 27%);
    text-align: center;
}


    
   
