.product{
    margin: 2rem 0;
    margin-bottom: 6.9rem;

    .product-gallery{
        
        .product-main-image{
            width:32rem;

            img{
                border:solid white;
            }
        }   
    } 

    .product-info-article{

        padding-left: 6rem;

        .product-title{
            background-color:hsl(207deg, 100%, 27%);
            border-radius: .6rem;
            margin-bottom: 1rem;
            h2{
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                
            }
        }

        .product-form{

            margin-bottom: 2rem;
            display: flex;

            button{
                border-radius: .6rem;
            } 

            form{
                label{
                    color:white;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
                input{
                    border-radius: .6rem;
                }
                   
            }
        }

        .product-button{

            button{
                background-color:hsl(207deg, 100%, 27%) ;
                color:white;
                border-radius: .6rem;
            }
        
        }
    }
        
    .product-price{
            h3{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            }
    .product-article-title{ 
            h3{
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-align: center;
                margin-bottom: 2rem;
            }

            }

        }
    .product-article{
        background-color:hsl(207deg, 100%, 27%);
        border-radius: .6rem;
        margin-bottom: 2rem; 
        p{
            padding:1rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    
    }    
        
        
    }   





