input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

img{
    max-width: 100%;
    border-radius: 0.6rem;
}

video{
    max-width: 100%;
}

