.mobile-five-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > .column{
        width: 18%;
    }
}

.mobile-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > .column{
        width: 22%;
    }
}

.mobile-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > .column{
        .featured-element{
            .featured-element-title{
                background-color:hsl(207deg, 100%, 27%);
                h2{
                    color:black;
                    
                }
            }
        }
        width: 30%;
    }
    
}

.mobile-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > .column{
        width: 48%;
    }
}

.mobile-one-column{
    width: 100%;
    display: block;

    & > .column{
        .slider{
            .slider-button{
                button{
                    border-radius: .6rem;
                background-color:hsl(207deg, 100%, 27%);
                color:white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                padding: 0.5rem 2rem;
                margin-left: 10rem;
                }
                

            }
            .slider-title{
                h2{
                    color:hsl(207deg, 100%, 27%);
                    text-align: center;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }

            }
            .slider-image{
                border:solid 2px white;

            }

        }
        width: 100%;
    }
}

