.footer{
    background-color:hsl(207, 100%, 27%);
    
    
    
}

.footer-title{
    
}

.footer-title h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color:hsl(0, 0%, 100%);
    padding:.2rem;
    text-align: center;
    
}
.footer-names ul{
    display: flex;
    justify-content: space-evenly;
    color: hsl(0, 0%, 100%);
    margin:auto;
    text-align: flex;
    width: 100%;
    font-size: .5rem;
}

.footer-names ul li:not(:last-child)::after{
    content: "|";
    color: hsl(0, 0%, 67%);
    background-color:hsl(207, 100%, 27%);
    text-align: center;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2px;
}


    
   
