header{
    position: sticky;
    top:0;
    z-index: 2;
}
.header{
    padding: 1% 5% ;
    width: 90%;
    background-color:hsl(0, 0%, 100%);
    border-bottom: solid 5px hsl(195, 100%, 38%);
    text-align: left;
}
.header h1{
    color:hsl(207, 100%, 27%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.header .header-navigation{
    margin-left: auto;
    width: 60%;
}

.header .header-navigation ul{
    display: flex;
    justify-content: space-between;
    padding-top:3%;
    color:hsl(207, 100%, 27%);
}
.header .header-navigation ul li:not(:last-child)::after{
    content: "|";
    padding-left: 1rem;
    color: hsl(0, 0%, 67%);
    font-weight: 600;
}