.slider-image{
    z-index: -1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid 2px hsl(0, 0%, 100%);
    border-bottom: solid 6px hsl(207, 100%, 27%);
    border-radius: 0.6rem;
}

.slider-title{
    position: absolute;
    z-index: 1;
    top:30%;
    left:24%;
}

.slider-title h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color: hsl(208, 100%, 97%);
}

.slider-button{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 40%;
    width: 20%;
}

.slider-button button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}