.ubication-description{
    background-color:hsl(195, 100%, 38%) ;
    border-radius: 0.6rem;
    padding-top:4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}
.ubication-description h3 {
    color:white;
    padding-bottom: .7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}
.ubication-description p{
    color:hsl(0, 0%, 100%);
    
}

.ubication-map iframe{
    width: 100%;
    border-radius: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}